{"openapi":"3.0.3","info":{"title":"API-SPORT.ru API","description":"API для получения информации о спортивных событиях, командах, игроках и турнирах. Поддерживается футбол с детальной информацией о матчах, событиях, составах и статистике.\n\nДля всех запросов необходим API ключ, который можно получить в личном кабинете.","version":"1.0.0","contact":{"name":"Sport API Support","email":"info@apisport.ru"}},"servers":[{"url":"https://api.api-sport.ru","description":"Основной сервер"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"API ключ для авторизации запросов"}},"schemas":{"Sport":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор вида спорта","example":1},"name":{"type":"string","description":"Название вида спорта на английском","example":"Football"},"slug":{"type":"string","description":"URL-совместимое название","example":"football"},"apiBasePath":{"type":"string","description":"Базовый путь API для данного вида спорта","example":"/v1/football/"},"translations":{"type":"object","properties":{"ru":{"type":"string","description":"Название на русском языке","example":"Футбол"}}}}},"Category":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор категории","example":57},"name":{"type":"string","description":"Название категории","example":"Uruguay"},"tournamentsCount":{"type":"integer","description":"Количество турниров в категории","example":15},"translations":{"type":"object","properties":{"ru":{"type":"string","description":"Перевод на русский","example":"Уругвай"}}},"image":{"type":"string","description":"URL изображения категории","example":"/images/category-57"}}},"Tournament":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор турнира","example":25182},"name":{"type":"string","description":"Название турнира","example":"Tercera Division, Reserves"},"translations":{"type":"object","properties":{"ru":{"type":"string","description":"Название на русском","example":"Третий дивизион, Резерв"}}},"category":{"$ref":"#/components/schemas/CategoryBrief"},"sportId":{"type":"integer","description":"ID вида спорта","example":1},"hasGroups":{"type":"boolean","description":"Есть ли групповой этап","example":false},"hasRounds":{"type":"boolean","description":"Есть ли раунды","example":true},"hasPlayoffs":{"type":"boolean","description":"Есть ли плей-офф","example":false},"image":{"type":"string","description":"URL изображения турнира","example":"/images/unique-tournament-25182"},"linkedTournaments":{"type":"array","items":{"$ref":"#/components/schemas/TournamentLink"}},"lowerDivisions":{"type":"array","items":{"$ref":"#/components/schemas/TournamentLink"}},"upperDivisions":{"type":"array","items":{"$ref":"#/components/schemas/TournamentLink"}},"seasons":{"type":"array","items":{"$ref":"#/components/schemas/Season"}}}},"TournamentLink":{"type":"object","properties":{"id":{"type":"integer","description":"ID связанного турнира"},"name":{"type":"string","description":"Название связанного турнира"}}},"CategoryBrief":{"type":"object","properties":{"id":{"type":"integer","description":"ID категории"},"name":{"type":"string","description":"Название категории"},"translations":{"type":"object","properties":{"ru":{"type":"string"}}},"image":{"type":"string","description":"URL изображения"}}},"Season":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор сезона","example":72514},"name":{"type":"string","description":"Название сезона","example":"Tercera Division, Reserves 2025"},"year":{"type":"string","description":"Год сезона","example":"2025"},"sportId":{"type":"integer","description":"ID вида спорта"},"rounds":{"type":"object","properties":{"currentRound":{"$ref":"#/components/schemas/RoundInfo"},"rounds":{"type":"array","items":{"$ref":"#/components/schemas/RoundInfo"}}}},"groups":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Название группы"}}}},"playoffs":{"type":"array","description":"Информация о плей-офф"}}},"Match":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор матча","example":13233486},"status":{"type":"string","description":"Статус матча","enum":["notstarted","inprogress","finished","canceled","postponed"],"example":"finished"},"dateEvent":{"type":"string","format":"date","description":"Дата события","example":"2025-09-03"},"startTimestamp":{"type":"integer","description":"Время начала матча в миллисекундах","example":1756836000000},"tournament":{"$ref":"#/components/schemas/TournamentBrief"},"category":{"$ref":"#/components/schemas/CategoryBrief"},"roundInfo":{"$ref":"#/components/schemas/RoundInfo"},"season":{"$ref":"#/components/schemas/SeasonBrief"},"venue":{"$ref":"#/components/schemas/Venue"},"homeTeam":{"$ref":"#/components/schemas/TeamWithLineup"},"awayTeam":{"$ref":"#/components/schemas/TeamWithLineup"},"homeScore":{"$ref":"#/components/schemas/Score"},"awayScore":{"$ref":"#/components/schemas/Score"}}},"TournamentBrief":{"type":"object","properties":{"id":{"type":"integer","description":"ID турнира"},"name":{"type":"string","description":"Название турнира"},"translations":{"type":"object","properties":{"ru":{"type":"string"}}},"image":{"type":"string","description":"URL изображения турнира"}}},"SeasonBrief":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"year":{"type":"string"}}},"RoundInfo":{"type":"object","properties":{"name":{"type":"string","description":"Название раунда","example":"1/8"},"round":{"type":"integer","description":"Номер раунда","example":5}}},"TeamWithLineup":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор команды","example":195801},"name":{"type":"string","description":"Название команды","example":"Montevideo Wanderers Reserve"},"translation":{"type":"object","properties":{"ru":{"type":"string","description":"Название на русском"}}},"gender":{"type":"string","description":"Пол команды","enum":["M","F"],"example":"M"},"country":{"type":"string","description":"Страна команды","example":"Uruguay"},"manager":{"$ref":"#/components/schemas/Manager"},"image":{"type":"string","description":"URL изображения команды","example":"/images/team-195801"},"lineup":{"$ref":"#/components/schemas/Lineup"}}},"Team":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор команды"},"name":{"type":"string","description":"Название команды"},"translation":{"type":"object","properties":{"ru":{"type":"string","description":"Название на русском"}}},"sportId":{"type":"integer","description":"ID вида спорта"},"country":{"type":"object","properties":{"name":{"type":"string","description":"Название страны"}}},"gender":{"type":"string","description":"Пол команды","enum":["M","F"]},"venue":{"$ref":"#/components/schemas/Venue"},"manager":{"$ref":"#/components/schemas/Manager"},"image":{"type":"string","description":"URL изображения команды"},"players":{"type":"array","items":{"$ref":"#/components/schemas/Player"}}}},"Manager":{"type":"object","properties":{"id":{"type":"integer","description":"ID тренера"},"name":{"type":"string","description":"Имя тренера"}}},"Lineup":{"type":"object","properties":{"players":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID игрока"},"position":{"type":"string","description":"Позиция игрока"},"statistics":{"type":"object","description":"Статистика игрока"},"shirtNumber":{"type":"integer","description":"Номер на футболке"},"captain":{"type":"boolean","description":"Является ли капитаном"},"substitute":{"type":"boolean","description":"Является ли запасным"}}}},"formation":{"type":"string","description":"Схема игры","example":"4-4-2"}}},"Score":{"type":"object","properties":{"current":{"type":"integer","description":"Текущий счет","example":3},"period1":{"type":"integer","description":"Счет в первом тайме","example":2},"period2":{"type":"integer","description":"Счет во втором тайме","example":1}}},"Venue":{"type":"object","properties":{"name":{"type":"string","description":"Название стадиона"},"capacity":{"type":"integer","description":"Вместимость"},"city":{"type":"object","properties":{"name":{"type":"string","description":"Город"}}},"country":{"type":"object","properties":{"name":{"type":"string","description":"Страна"}}}}},"Player":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор игрока"},"teamId":{"type":"integer","description":"ID команды игрока"},"name":{"type":"string","description":"Полное имя игрока"},"shortName":{"type":"string","description":"Короткое имя"},"translations":{"type":"object","properties":{"ru":{"type":"string","description":"Имя на русском"}}},"gender":{"type":"string","description":"Пол","enum":["M","F"]},"height":{"type":"number","description":"Рост в сантиметрах"},"country":{"type":"object","properties":{"name":{"type":"string","description":"Страна игрока"}}},"position":{"type":"string","description":"Позиция на поле","enum":["G","D","M","F"]},"shirtNumber":{"type":"integer","description":"Номер на футболке"},"preferredFoot":{"type":"string","description":"Рабочая нога","enum":["left","right","both"]},"dateOfBirth":{"type":"string","format":"date","description":"Дата рождения"},"dateOfBirthTimestamp":{"type":"integer","description":"Дата рождения в миллисекундах"},"contractUntilTimestamp":{"type":"integer","description":"Контракт до (в миллисекундах)"},"proposedMarketValueEUR":{"type":"number","description":"Рыночная стоимость в EUR"},"image":{"type":"string","description":"URL изображения игрока"}}},"LiveEvent":{"type":"object","properties":{"time":{"type":"integer","description":"Время события в минутах"},"type":{"type":"string","description":"Тип события","enum":["card","goal","substitution","inGamePenalty","penaltyShootout","varDecision","injuryTime","period"]},"class":{"type":"string","description":"Класс события"},"team":{"type":"string","description":"Команда события","enum":["home","away"]},"player":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"playerIn":{"type":"object","description":"Игрок входящий (для замен)","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"playerOut":{"type":"object","description":"Игрок выходящий (для замен)","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"reason":{"type":"string","description":"Причина события"},"from":{"type":"string","description":"Откуда (например, penalty для гола)"},"homeScore":{"type":"integer","description":"Счет хозяев после события"},"awayScore":{"type":"integer","description":"Счет гостей после события"}}},"Error":{"type":"object","properties":{"error":{"type":"string","description":"Описание ошибки"},"message":{"type":"string","description":"Дополнительная информация об ошибке"}}}}},"paths":{"/v1/sport":{"get":{"summary":"Получить список видов спорта","description":"Возвращает список всех доступных видов спорта с их базовыми путями API","tags":["Общее"],"operationId":"getSports","responses":{"200":{"description":"Список видов спорта","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Sport"}}}}},"401":{"description":"Неавторизован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/football/categories":{"get":{"summary":"Получить список категорий турниров","description":"Возвращает список всех категорий (стран/регионов) с количеством турниров в каждой","tags":["Футбол - Категории"],"operationId":"getCategories","responses":{"200":{"description":"Список категорий","content":{"application/json":{"schema":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/components/schemas/Category"}}}}}}},"401":{"description":"Неавторизован"}}}},"/v1/football/categories/{categoryId}":{"get":{"summary":"Получить турниры в категории","description":"Возвращает список всех турниров в указанной категории с их сезонами","tags":["Футбол - Категории"],"operationId":"getTournamentsByCategory","parameters":[{"name":"categoryId","in":"path","required":true,"description":"ID категории","schema":{"type":"integer","example":57}}],"responses":{"200":{"description":"Список турниров в категории","content":{"application/json":{"schema":{"type":"object","properties":{"tournaments":{"type":"array","items":{"$ref":"#/components/schemas/Tournament"}}}}}}},"400":{"description":"Некорректный ID категории"},"401":{"description":"Неавторизован"}}}},"/v1/football/matches":{"get":{"summary":"Получить список матчей","description":"Возвращает список матчей с возможностью фильтрации по различным параметрам. По умолчанию возвращает матчи на сегодня.","tags":["Футбол - Матчи"],"operationId":"getMatches","parameters":[{"name":"date","in":"query","description":"Дата матчей в формате YYYY-MM-DD","schema":{"type":"string","format":"date","example":"2025-09-08"}},{"name":"ids","in":"query","description":"Список ID матчей через запятую (максимум 100)","schema":{"type":"string","example":"13233486,14586240"}},{"name":"tournament_id","in":"query","description":"ID турнира для фильтрации","schema":{"type":"integer","example":25182}},{"name":"season_id","in":"query","description":"ID сезона для фильтрации","schema":{"type":"integer","example":72514}},{"name":"team_id","in":"query","description":"ID команды (матчи с участием команды)","schema":{"type":"integer","example":195801}},{"name":"category_ids","in":"query","description":"Список ID категорий через запятую","schema":{"type":"string","example":"57,254"}},{"name":"status","in":"query","description":"Статус матча","schema":{"type":"string","enum":["notstarted","inprogress","finished","canceled","postponed"],"example":"finished"}}],"responses":{"200":{"description":"Список матчей","content":{"application/json":{"schema":{"type":"object","properties":{"totalMatches":{"type":"integer","description":"Общее количество матчей"},"matches":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}}}}}},"400":{"description":"Некорректные параметры запроса"},"401":{"description":"Неавторизован"},"500":{"description":"Внутренняя ошибка сервера"}}}},"/v1/football/matches/{matchId}":{"get":{"summary":"Получить детали матча","description":"Возвращает полную информацию о конкретном матче включая составы команд","tags":["Футбол - Матчи"],"operationId":"getMatchById","parameters":[{"name":"matchId","in":"path","required":true,"description":"ID матча","schema":{"type":"integer","example":13233486}}],"responses":{"200":{"description":"Детали матча","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Match"}}}},"400":{"description":"Некорректный ID матча"},"401":{"description":"Неавторизован"},"404":{"description":"Матч не найден"}}}},"/v1/football/matches/{matchId}/events":{"get":{"summary":"Получить события матча","description":"Возвращает хронологический список всех событий произошедших в матче (голы, карточки, замены и т.д.)","tags":["Футбол - Матчи"],"operationId":"getMatchEvents","parameters":[{"name":"matchId","in":"path","required":true,"description":"ID матча","schema":{"type":"integer","example":13233486}}],"responses":{"200":{"description":"События матча","content":{"application/json":{"schema":{"type":"object","properties":{"matchId":{"type":"integer","description":"ID матча"},"totalEvents":{"type":"integer","description":"Общее количество событий"},"events":{"type":"array","items":{"$ref":"#/components/schemas/LiveEvent"}}}}}}},"400":{"description":"Некорректный ID матча"},"401":{"description":"Неавторизован"}}}},"/v1/football/players":{"get":{"summary":"Получить список игроков","description":"Возвращает список игроков по их ID или по ID команды. Обязателен один из параметров: ids или team_id","tags":["Футбол - Игроки"],"operationId":"getPlayers","parameters":[{"name":"ids","in":"query","description":"Список ID игроков через запятую (максимум 100)","schema":{"type":"string","example":"123456,789012"}},{"name":"team_id","in":"query","description":"ID команды для получения всех её игроков","schema":{"type":"integer","example":195801}}],"responses":{"200":{"description":"Список игроков","content":{"application/json":{"schema":{"type":"object","properties":{"totalPlayers":{"type":"integer","description":"Общее количество игроков"},"players":{"type":"array","items":{"$ref":"#/components/schemas/Player"}}}}}}},"400":{"description":"Некорректные параметры или отсутствуют обязательные параметры"},"401":{"description":"Неавторизован"},"500":{"description":"Внутренняя ошибка сервера"}}}},"/v1/football/teams":{"get":{"summary":"Получить список команд","description":"Возвращает список команд по их ID вместе с составами игроков. Параметр ids обязателен.","tags":["Футбол - Команды"],"operationId":"getTeams","parameters":[{"name":"ids","in":"query","required":true,"description":"Список ID команд через запятую (максимум 100)","schema":{"type":"string","example":"195801,195800"}}],"responses":{"200":{"description":"Список команд с игроками","content":{"application/json":{"schema":{"type":"object","properties":{"totalTeams":{"type":"integer","description":"Общее количество команд"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}}}},"400":{"description":"Некорректные или отсутствующие параметры"},"401":{"description":"Неавторизован"},"500":{"description":"Внутренняя ошибка сервера"}}}},"/v1/football/tournament/{tournamentId}":{"get":{"summary":"Получить информацию о турнире","description":"Возвращает детальную информацию о турнире включая связанные турниры и дивизионы","tags":["Футбол - Турниры"],"operationId":"getTournamentById","parameters":[{"name":"tournamentId","in":"path","required":true,"description":"ID турнира","schema":{"type":"integer","example":25182}}],"responses":{"200":{"description":"Информация о турнире","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tournament"}}}},"400":{"description":"Некорректный ID турнира"},"401":{"description":"Неавторизован"},"404":{"description":"Турнир не найден"}}}},"/v1/football/tournament/{tournamentId}/seasons":{"get":{"summary":"Получить сезоны турнира","description":"Возвращает список всех сезонов для указанного турнира отсортированных по году","tags":["Футбол - Турниры"],"operationId":"getTournamentSeasons","parameters":[{"name":"tournamentId","in":"path","required":true,"description":"ID турнира","schema":{"type":"integer","example":25182}}],"responses":{"200":{"description":"Список сезонов","content":{"application/json":{"schema":{"type":"object","properties":{"seasons":{"type":"array","items":{"$ref":"#/components/schemas/Season"}}}}}}},"400":{"description":"Некорректный ID турнира"},"401":{"description":"Неавторизован"}}}},"/v1/football/tournament/{tournamentId}/seasons/{seasonId}":{"get":{"summary":"Получить детали сезона","description":"Возвращает детальную информацию о конкретном сезоне турнира включая раунды, группы и плей-офф","tags":["Футбол - Турниры"],"operationId":"getSeasonDetails","parameters":[{"name":"tournamentId","in":"path","required":true,"description":"ID турнира","schema":{"type":"integer","example":25182}},{"name":"seasonId","in":"path","required":true,"description":"ID сезона","schema":{"type":"integer","example":72514}}],"responses":{"200":{"description":"Детали сезона","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Season"}}}},"400":{"description":"Некорректные ID параметры"},"401":{"description":"Неавторизован"},"404":{"description":"Сезон не найден"}}}}},"tags":[{"name":"Общее","description":"Общие endpoints API"},{"name":"Футбол - Категории","description":"Работа с категориями турниров (страны/регионы)"},{"name":"Футбол - Матчи","description":"Получение информации о матчах и их событиях"},{"name":"Футбол - Игроки","description":"Информация об игроках"},{"name":"Футбол - Команды","description":"Информация о командах и их составах"},{"name":"Футбол - Турниры","description":"Информация о турнирах и сезонах"}]}